#foot {
background-color: #1e1e2f;
max-width: 1000px;
margin:50px auto;
padding: 0 20px

}

#foot nav li {
color: #ffffff;
padding: 60px;
padding-right: 60px;
list-style: none
}

#foot > p {
text-align: center;
color: #ffffff;
padding-bottom: 30px
}
