body {
flex-direction: column;
flex: auto;
font-family: Arial, sen-serif;
background-color: #f5f7fa;
color: #333
}

header { 
background-color: #004466;
color: white;
padding: 1rem;
text-align: center
}

main {
flex-direction: row;
flex-direction: auto;
background-color: #ffffff;
border-top: 2px solid #ccc;
border-bottom: 2px solid #ccc

}

article {
flex: 1;
overflow-y: auto;
padding: 1rem;
background-color: #eaf6ff;
border-right: 1px solid #ccc;
line-height: 1.6

}

aside {

flex: 1;
overflow-y: auto;
padding: 1rem;
background-color: #f0f0f0;
border-left: 1px solid #ccc

}
a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


footer { }

 

