body {
flex-direction: column;
flex: auto
}

header { }

main {
flex-direction: row;
flex-direction: auto

}

article {
flex: 1;
overflow-y: auto

}

aside {

flex: 1;
overflow-y: auto

}


footer { }

 

